<a href="/owners/<%= @owner.id %>"><%= @owner.name %></a>
<br>
<br>
Pets: 
<br>
<ul>
  <% @owner.pets.each do |pet| %>
      <li><a href="/pets/<%= pet.id %>"><%= pet.name %></a></li>
  <% end %>
</ul>
